/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1200px;
  --fixed-width: 1200px;
  --view-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 2px 10px 12px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}
/* ============= PROJECT CSS =============== */

/*
=============== 
Navbar
===============
*/

nav {
  position: fixed;
  width: 100%;
  background: #003ea2;
  height: 5rem;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.nav-center {
  width: var(--view-width);
  max-width: var(--fixed-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h4 {
  font-size: 36px;
  font-weight: 700;
  background: -webkit-linear-gradient(#eee, #555555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-container {
  background-color: #0cd65d;
  padding: 10px 50px;
  border-radius: 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
}
.nav-container p {
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.cart-icon {
  font-size: 1.5rem;
  color: var(--white);
}
.amount-container {
  position: absolute;
  top: 0.7rem;
  right: 0.8rem;
  width: 1.4rem;
  height: 1.4rem;
  padding: 8px 15px;
  background: #b100bd;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  position: inherit;
  right: 0rem;
  color: var(--white);
  font-size: 1rem;
}

/* Styles for the form */
.formContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 8rem auto 3rem; /* Adjust the top margin to push it below the navbar */
  box-shadow: var(--shadow-3);
  z-index: 999; /* Ensure it's below the navbar */
}
.formContainer h2 {
  color: #003ea2;
  text-transform: capitalize;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1.5;
}
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-top-right-radius: 1px solid #ccc;
  border-radius: 5px;
}

form label {
  display: flex;
  margin-bottom: 10px;
  text-align: start;
  font-size: large;
  margin-right: 1rem;
  gap: 2rem;
  padding: 5px 10px;
}

form input[type="text"],
form input[type="number"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form input[name="Large"],
form input[name="Medium"],
form input[name="Small"] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap as needed */
}

.size_container_label {
  color: orange;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.sizes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px; /* Adjust the gap as needed */
}
.size_container_label {
  margin: 0 auto;
}

.sizes input[type="number"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: medium;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Styles for the shoe container */
.displaySection {
  width: 100%;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}
.displaySection h2 {
  color: #003ea2;
  text-transform: capitalize;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1.5;
}
.shoe-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 20px;
  justify-content: start;
  text-align: start;
  flex-wrap: wrap;
}

.shoe-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  box-shadow: var(--shadow-2);
  border-radius: 5px;
  padding: 15px;
}

.shoe-card img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover; /* Maintain aspect ratio */
}

.shoe-card h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #003ea2;
}

.shoe-card p {
  margin-bottom: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.shoe_price {
  color: green;
  margin: 10px auto;
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  animation: pulse 0.8s ease-in-out infinite;
  box-shadow: var(--shadow-1);
  width: fit-content;
  padding: 20px 15px;
  border-radius: 5px;
}
.bump-animation {
  animation: bump 300ms ease-out;
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.shoe_brand {
  color: grey;
  font-size: large;
  letter-spacing: 1.5px;
  padding-top: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .shoe-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  form {
    max-width: 100%;
  }
}
.shoe_size_stock_container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  gap: 3rem;
  padding: 10px 15px;
}

.size_stock {
  font-size: 1rem;
  color: var(--grey-700);
}
.size_button {
  background-color: #0056b3;
  border: none;
  padding: 8px 10px;
  border-radius: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: var(--shadow-3);
}
.size_buttons {
  display: flex;
  gap: 5px;
}
.red {
  color: red;
  background-color: whitesmoke;
  filter: brightness(80%);
}
.green {
  color: green;
  background-color: whitesmoke;
  filter: brightness(80%);
}
.size_button:hover {
  background: transparent;
  scale: 1.3;
  transition: all 0.3s ease-in-out;
  gap: 2rem;
}
@media (max-width: 760px) {
  .size_buttons {
    display: flex;
    gap: 5px;
  }
  .size_button:hover {
    background: transparent;
    scale: 1;
    transition: none;
    gap: 2rem;
  }
}

/*Cart Page Styling */
.cart-page {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 8rem auto 3rem; /* Adjust the top margin to push it below the navbar */
  box-shadow: var(--shadow-3);
}

.cart-items {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(1, minmax(200px, 1fr));
  gap: 30px;
  padding: 10px;
}

.cart-item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.cart-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}

.item-details {
  flex-grow: 1;
}

.cart-summary {
  margin-top: 20px;
  padding-top: 10px;
}
.cart-summary p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 800;
  color: grey;
}

button {
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 auto;
}

button:hover {
  background-color: #cc0000;
}
.cartButton {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}
.cartGreen {
  background-color: green;
  color: white;
}
.cartGreen:hover {
  background-color: #0f5132;
  box-shadow: var(--shadow-1);
}
.removeCartBtn {
  margin-top: 1rem;
  background-color: var(--red-dark);
}

.order-completed {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.message {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.image {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
  border-radius: 2rem;
}

.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}
.continue {
  background-color: #0f5132;
  padding: 10px 20px;
  display: flex;
  margin: 1rem auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.continue:hover {
  background-color: #0cd65d;
  color: white;
  box-shadow: var(--shadow-1);
  transform: scale(1.04);
}
